{{ if eq .block._type "text" }}
    {{ .block.value | markdownify }} 
{{ else if eq .block._type "local-image" }}
    <img src="{{ .block.src }}" alt="{{ .block.alt }}" />
{{ else if eq .block._type "callout" }}
    {{- $calloutEmojiDict := dict "info" "ℹ️" "warning" "⚠️" "error" "🚫" -}}
    {{- $type := .block.type | default "default" -}}
    {{/* If emoji is not set, use the emoji from dict */}}
    {{- $emoji := index $calloutEmojiDict $type -}}
    {{/* Also allow using "icon" */}}
    {{- $icon := .block.icon -}}
    {{- $content := .block.value | markdownify -}}

    {{- $defaultClass := "hx:border-orange-100 hx:bg-orange-50 hx:text-orange-800 hx:dark:border-orange-400/30 hx:dark:bg-orange-400/20 hx:dark:text-orange-300" -}}

    {{- $styleClass := newScratch -}}
    {{- $styleClass.Set "info" "hx:border-blue-200 hx:bg-blue-100 hx:text-blue-900 hx:dark:border-blue-200/30 hx:dark:bg-blue-900/30 hx:dark:text-blue-200" -}}
    {{- $styleClass.Set "warning" "hx:border-yellow-100 hx:bg-yellow-50 hx:text-yellow-900 hx:dark:border-yellow-200/30 hx:dark:bg-yellow-700/30 hx:dark:text-yellow-200" -}}
    {{- $styleClass.Set "error" "hx:border-red-200 hx:bg-red-100 hx:text-red-900 hx:dark:border-red-200/30 hx:dark:bg-red-900/30 hx:dark:text-red-200" -}}

    {{- $class := or ($styleClass.Get $type) $defaultClass -}}

    {{- partial "shortcodes/callout.html" (dict "content" $content "emoji" $emoji "icon" $icon "class" $class) -}}
{{ else if eq .block._type "cards" }}
    {{- $cols := .cols | default 3 -}}

    <div class="hextra-cards hx:mt-4 hx:gap-4 hx:grid not-prose" style="--hextra-cards-grid-cols: {{ $cols }};">
        {{ range .block.value }}
            {{ partial "blocks/render.html" (dict "block" . "context" $) }}
        {{ end }}
    </div>
{{ else if eq .block._type "card" }}
    {{- $link := .block.link -}}
    {{- $title := .block.title -}}
    {{- $icon := .block.icon -}}
    {{- $subtitle := .block.subtitle -}}
    {{- $image := .block.image -}}
    {{- $width := 0 -}}
    {{- $height := 0 -}}
    {{- $imageStyle := .block.imageStyle -}}
    {{- $tag := .block.tag -}}
    {{- $tagType := .block.tagType -}}

    {{/* Image processing options */}}
    {{- $method := .block.method | default "Resize" | humanize -}}
    {{- $options := .block.options | default "800x webp q80" -}}
    {{- $process := .block.process | default (printf "%s %s" $method $options) -}}

    {{- if and $image (not (urls.Parse $image).Scheme) -}}
    {{- with or (.Page.Resources.Get $image) (resources.Get $image) -}}
        {{/* .Process does not work on svgs */}}
        {{- if (not (eq .MediaType.SubType "svg")) -}}
        {{/* Retrieve the $image resource from local or global resources */}}
        {{- $processed := .Process $process -}}
        {{- $width = $processed.Width -}}
        {{- $height = $processed.Height -}}
        {{- $image = $processed.RelPermalink -}}
        {{- end -}}
    {{ else }}
        {{/* Otherwise, use relative link of the image */}}
        {{- if hasPrefix $image "/" -}}
        {{- $image = relURL (strings.TrimPrefix "/" $image) -}}
        {{- end -}}
    {{- end -}}
    {{- end -}}

    {{- partial "shortcodes/card" (dict
        "page"        .Page
        "link"        $link
        "title"       $title
        "icon"        $icon
        "subtitle"    $subtitle
        "image"       $image
        "width"       $width
        "height"      $height
        "imageStyle"  $imageStyle
        "tag"         $tag
        "tagType"     $tagType
        )
    -}}
{{ else if eq .block._type "steps" }}
    <div class="hextra-steps hx:ml-4 hx:mb-12 hx:ltr:border-l hx:rtl:border-r hx:border-gray-200 hx:ltr:pl-6 hx:rtl:pr-6 hx:dark:border-neutral-800 [counter-reset:step]">
        {{ .block.value | markdownify }} 
    </div>
{{ else if eq .block._type "details" }}
    <details class="hx:last-of-type:mb-0 hx:rounded-lg hx:bg-neutral-50 hx:dark:bg-neutral-800 hx:p-2 hx:mt-4 hx:group" {{ if not .block.closed }}open{{ end }}>
        <summary class="hx:flex hx:items-center hx:cursor-pointer hx:select-none hx:list-none hx:p-1 hx:rounded-sm hx:transition-colors hx:hover:bg-gray-100 hx:dark:hover:bg-neutral-800 hx:before:mr-1 hx:before:inline-block hx:before:transition-transform hx:before:content-[''] hx:dark:before:invert hx:rtl:before:rotate-180 hx:group-open:before:rotate-90">
            <strong class="hx:text-lg">{{ .block.title | markdownify }}</strong>
        </summary>
        <div class="hx:p-2 hx:overflow-hidden">
            {{ .block.value | markdownify }} 
        </div>
    </details>
{{ end }}